// primary font
@mixin headingStyles {
  font-family: var(--primary-font);
  font-weight: bold;
}

.heading {
  &-1 {
    @include headingStyles();
    font-size: 4.209rem; //67px
    line-height: 89px;

    @include breakpoint-down(lg) {
      font-size: 3.157rem; // 50px
      line-height: 66.65px;
    }

    @include breakpoint-down(md) {
      font-size: clamp(2.2rem, 8vw, 2.8rem);
      line-height: clamp(48.65px, 10vw, 62px);
    }

    @include breakpoint-down(xxs) {
      font-size: clamp(1.9rem, 9vw, 2.8rem);
      line-height: clamp(42.65px, 10vw, 62px);
    }
  }

  &-2 {
    @include headingStyles();
    font-size: 3.157rem; // 50px
    line-height: 66.65px;
  }

  &-3 {
    @include headingStyles();
    font-size: 2.369rem; // 37px
    line-height: 50.52px;

    @include breakpoint-down(sm) {
      font-size: 1.8rem;
      line-height: 48px;
    }
  }

  &-4 {
    @include headingStyles();
    font-size: 1rem;
    line-height: 21px;
  }
}

// subtitle fonts

.subtitle {
  &-1 {
    font-size: 1.602rem; // 25px
  }
  &-2 {
    font-size: 1.424rem; // 22px
    line-height: 29px;
  }
  &-3 {
    font-size: 1.266rem; // 20px
  }
  &-4 {
    font-size: 1.125rem; // 18px
    line-height: 22.63px;
  }

  &-5 {
    font-size: 1rem; // 16px
    line-height: 24.35px;
  }
}

.smallText {
  &-1 {
    font-size: 0.875rem; // 14px
  }

  &-2 {
    font-size: 0.75rem; // 12px
  }

  &-3 {
    font-size: 0.65rem; // 12px
  }
}
